.summary {
  .summary__unit {
    font-size: 90%;
    font-weight: 100;
    opacity: 0.5;
    margin: 0 1px;

    @include media-query(lap-and-up) {
      font-size: 50%;
    }
  }

  .grommetux-heading {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  h2 {
    font-size: 17px;

    @include media-query(lap-and-up) {
      font-size: 36px;
    }
  }
}
