div[role="tabpanel"]:focus {
	outline: none;
	width: 100%;
}

div[role="tablist"] {
	width: 100%;
}

.grommetux-tabs__nav {
	width: 100%;
	overflow-x: auto;

	&.grommetux-tabs__nav--scrolling {
		max-width: 90vw;
		// Padding to accommodate scrollbar.
		padding: 12px 0 20px;

		@include media-query(lap-and-up) {
			justify-content: center;
			max-width: 100%;
			padding: 0;
		}

		.grommetux-tabs {
			width: 100%;
			justify-content: flex-start;
			margin: 0;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);

			@include media-query(lap-and-up) {
				justify-content: center;
				max-width: auto;
				margin: 0 auto;
			}

			li:first-child {
				padding-left: 0;
			}

			.grommetux-tab a label {
				border: none;
			}

			.grommetux-tab--active a label {
				font-size: 1.1rem;
				font-weight: 600;
				border-bottom: 2px solid $brand-color;

				@include media-query(lap-and-up) {
					font-size: 1.25em;
				}
			}
		}
	}

	.grommetux-tabs {
	  border-bottom: none;
	  margin-bottom: 24px;
	  color: $text-color;

	  .grommetux-tab__label {
	  	color: rgba(0, 0, 0, 0.6);
	  	padding-bottom: 2px;
	  	border-bottom: 2px solid rgba(0, 0, 0, 0.6);
	  }

	  .grommetux-tab--active .grommetux-tab__label,
	  .grommetux-tab--active .grommetux-tab__link:hover .grommetux-tab__label {
	  	color: $text-color;
	  	border-color: $brand-color;
	  }

	  .grommetux-tab:hover .grommetux-tab__label {
	    border-color: $brand-color;
		}
	}
}

#{$dark-background-context} {
	.grommetux-tabs__nav {
		&.grommetux-tabs__nav--scrolling {
			.grommetux-tabs {
				color: $inverse-color;

				.grommetux-tab a label {
					border: none;
				}

				.grommetux-tab--active a label {
					border-bottom: 2px solid;
				}

			  .grommetux-tab__label {
					color: rgba(255, 255, 255, 0.6);
					border-bottom: 2px solid rgba(255, 255, 255, 0.6);
			  }

			  .grommetux-tab--active .grommetux-tab__label,
			  .grommetux-tab--active .grommetux-tab__link:hover .grommetux-tab__label {
			  	color: $inverse-color;
			  	border-color: $inverse-color;
			  }

			  .grommetux-tab:hover .grommetux-tab__label {
			    border-color: $inverse-color;
				}
			}
		}
	}
}
