.grommetux-header.section-nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	transition: transform 0.3s ease-out;

	&.section-nav--active {
		transform: translateY(0);
	}

	&:not(.section-nav--active) {
		transform: translateY(calc(-100% + 4px));
	}


	.logo-hpe {
		width: 118px;
		height: 50px;

		img {
			width: 100%;
			height: auto;
		}
	}
	

	@include media-query(lap-and-up) {
		.logo-hpe {
			width: 118px;
			height: 50px;
		}
	}
}
