.axis {
	.axis__label-marker {
		stroke: rgba(0, 0, 0, 0.5);
		stroke-width: 1;
	}

	.axis__label-text {
		fill: rgba(0, 0, 0, 0.5);
	}

	&.axis--vertical {
		min-width: 40px;

		svg {
			height: 192px;
			width: 50px;
		}
	}

	&.axis--horizontal svg {
		height: 192px;
		width: 50px;
	}
}

#{$dark-background-context} {
	.axis {
		.axis__label-marker {
			stroke: rgba(255, 255, 255, 0.5);
		}

		.axis__label-text {
			fill: rgba(255, 255, 255, 0.5);
		}
	}
}
